@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}
body{
    font-family: 'Kanit';
    font-size: 14px;
}
.container{
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: azure;
    padding: 20px;
    box-sizing: border-box;
}
.header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.header-form{
    width: 200px;
}
.flex{
    display: flex;
}
.form-input{
    margin-bottom: 10px;
}
input.form, textarea{
    border: 1px solid #ccc;
    width: 100%;
}
.center{
    text-align: center;
}
.button{
    border: 10%;
    width: 50%;
    height: 40px;
}

.message {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid;
}

.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger {
    background-color: lightcoral;
    display: block;
}

@media screen and (max-width: 2000px){
    .flex {
        flex-direction: column;
    }
    .header{
        font-size: 24px;
    }
    .button{
        width: 100%;
    }
}